extends ../layout

block content
  section.page-header: div.container
    h1 REGISTRATION
  section: div.container
    h2: strong Temporarily Disabled
    p Please check back later.
    p Registration is currently disabled while we perform maintenance on the authorization service. We're sorry for any inconvenience this might cause and are working as quickly as possible to restore the service.