li.dropdown
  a.dropdown-toggle(href='#'): span.theme-color INFO
  ul.dropdown-menu
    li: a(href="/rules") League Rules
    li: a(href="/fields") Field Information
    li: a(href="/tournaments") Tournaments
    li: a(href="/allstar") All-Star Game
    li: a(href="/halloffame") Hall of Fame
    li: a(href="/organization") Organization Information
li: a(href='/schedule'): span.theme-color SCHEDULE
li.dropdown
  a.dropdown-toggle(href='/standings'): span.theme-color STANDINGS
  ul.dropdown-menu
    li: a(href="/standings?regular") Regular Season
    li: a(href="/standings?playoffs") Playoffs
li: a(href='/teams'): span.theme-color TEAMS
li: a(href='/sponsors'): span.theme-color SPONSORS
li: a(href='/contact'): span.theme-color CONTACT