extends layout

block content
  section.page-header: div.container
    h1 Page Not Found
  section.padding-xlg: div.container
    h2: strong Sorry, The page you requested can not be found!
    p: a.size-20.font-lato(href="javascript:history.back();") < Return to the previous page.