extends layout

block content
  section.page-header
    .container: h1 CONTACT US
  section
    .container
      .row
        .col-md-9.col-sm-9
          h3 Drop us a line or just say
            strong: em  Hello!

          form.validate(method="post" action="https://formspree.io/admin@chesmsbl.org")
            fieldset
              input(type="text" name="_gotcha" style="display:none")
              .row
                .form-group
                  .col-md-4
                    label(for="name") Full Name *
                    input#name.form-control.required(type="text" value="" name="name")
                  .col-md-4
                    label(for="email") E-mail Address *
                    input#email.form-control.required(type="email" value="" name="_replyto")
                  .col-md-4
                    label(for="phone") Phone
                    input#phone.form-control(type="text" value="" name="phone")
              .row
                .form-group
                  .col-md-8
                    label(for="subject") Subject *
                    input#subject.form-control.required(type="text" value="" name="_subject")
                  .col-md-4
                    label(for="department") Department
                    select.form-control.pointer(name="department")
                      option(value="") --- Select ---
                      option(value="general") General
                      option(value="support") Support
                      option(value="sponsorships") Sponsorships
              .row
                .form-group
                  .col-md-12
                    label(for="message") Message *
                    textarea#message.form-control.required(maxlength="10000" rows="8" name="message")
            .row
              .col-md-12
                button.btn.btn-primary(type="submit")
                  i.fa.fa-check
                  | SEND MESSAGE
        .col-md-3.col-sm-3
          h2 Visit Us
          p Please feel free to call or send mail.
          hr
          p
            span.block
              strong
                i.fa.fa-map-marker
                | Address:
              |  PO BOX 141, FREDERICK, MD 21705-0141
            span.block
              strong
                i.fa.fa-phone
                | Phone:
              a(href="tel:+1 (410) 980 2096")  +1 (410) 980 2096
            span.block
              strong
                i.fa.fa-envelope
                | Email:
              a(href="mailto:support@chesmsbl.org")  support@chesmsbl.org

