extends layout

block content
  section.page-header.page-header-lg.parallax.parallax-3(style="background-image:url('/assets/images/outfield-header.jpg')")
    div.overlay.dark-5
    div.container
      h1 Frequently Asked Questions

  section
    div.container
      div.row
        div.col-md-9
          p.lead
            | The following is intended to address common questions that you might have when using our website. If you still have questions, please feel free to fill out the question form.
          div.toggle.toggle-transparent.toggle-bordered-full.margin-top-60
            div.toggle
              label 1. When can I expect to hear something about playing baseball after I submit my profile?
              div.toggle-content
                p.clearfix The first priority of the Chesapeake MSBL is to form a new team with the draft pool comprised of prospective league member profiles. If a team cannot be formed from the draft pool, your player profile will be shared with MSBL affiliated team managers as requested by team managers.
                p.clearfix If there is interest in your profile, a team manager will contact you directly for a try-out or add you to their team roster.
                p.clearfix Each player is expected to pay associated fees to play if you are added to a team roster.
                p.clearfix There is no guarantee that you will be placed on a team if you submit your profile and there is no guaranteed amount of playing time if you are selected by a team to be added to their roster. Playing time expectations can be discussed with your team manager.
                p.clearfix We do not add players to rosters after June. If a prospective player posts after June 1st, the profile is maintained in suspense until teams are formed in January for the next season.
                p.clearfix The Chesapeake MSBL does not place players on teams or force team managers to add a prospect to their team roster.
            div.toggle
              label 2. How many games and when will 55+ Division teams play?
              div.toggle-content
                p.clearfix The 55+ Division will play one game a week on Saturdays beginning the first week in May through July followed by playoffs in August. No games will be played over Memorial Day or July 4th weekends.
            div.toggle
              label 3. How many games and when will 18+ Division Teams play?
              div.toggle-content
                p.clearfix 18+ Division teams will play 7-inning double headers on Saturdays beginning in June through July followed by playoffs in August. No games will be played over Memorial Day and July 4th weekends.
            div.toggle
              label 4. What are my chances of playing baseball for the upcoming season?
              div.toggle-content
                p.clearfix Your chances of playing for the upcoming season are greatest if you submit your player profile before December for the upcoming season and are willing to manage a team.
                p.clearfix Your chances of playing are greatly improved if you are prompt in responding to league officials and team managers who are making an effort to reach out to you and greatly increase by your making a personal commitment to pay fees on time.
                p.clearfix Teams are formed in January to provide enough time for new teams to collect fees, conduct tryouts, order uniforms/equipment, and arrange team practices.
                p.clearfix If a new team is not formed, the chances of playing are diminished as most teams currently in the league are well established and are looking to fill limited roster spots.
            div.toggle
              label 5. How much can I expect to pay to play baseball?
              div.toggle-content
                p.clearfix The amount to play can vary from $150/player to more than $350/player depending upon whether a team obtains a sponsor to offset team expenses. This does not include the costs associated with uniforms or equipment.
                p.clearfix There is no guaranteed playing time. Team managers collect fees and turn them into the league office. Once fees are turned into league office, there are no refunds.
            div.toggle
              label 6. When does the baseball season start and end?
              div.toggle-content
                p.clearfix Regular season games begin the first Sunday in May and conclude by early August.
                p.clearfix A double elimination post-season play-off follows regular season play for the 35+ and 45+ divisions with play-offs concluding by the end of August.
                p.clearfix 25+ Division play-offs are a series of best of 3 games being played among the top 8 teams and will conclude by end of August.
            div.toggle
              label 7. Who conducts practice and where is practice conducted?
              div.toggle-content
                p.clearfix Teams set up their own practice schedule. Teams are responsible for finding their own practice locations whether it be indoor or outdoor. A permit must be filed to use a county baseball field. Teams are encouraged to establish a relationship with a local HS baseball coach to use their field and offer assistance to the HS coach and baseball teams by working to keep field playable or making a donation of equipment or funds and volunteering to help out where needed.
            div.toggle
              label 8. How many baseball games are played in a season?
              div.toggle-content
                p.clearfix Typically, there are 18-24 regular season games played (depending upon the cooperation of weather) followed by a post season play-off.
            div.toggle
              label 9. What days of the week are baseball games played?
              div.toggle-content
                p.clearfix Games are played every Sunday beginning the first week of May and through the month August.
                p.clearfix Games are not played on Mother's Day, Memorial Day, or July 4th weekend.
                p.clearfix In addition to a game each Sunday, there is one game played during the weeknight; typically on Tuesday or Thursday for the 25+ division and Wednesday nights for the 35+ Division. The 45+ Divisions will play games on Mondays, Wednesdays, or Fridays. Exceptions are the holiday weekends listed above.
            div.toggle
              label 10. Where are the baseball games played?
              div.toggle-content
                p.clearfix Regular and post-season play-off games are played in Anne Arundel County at County Park Fields and High School Fields. These include Joe Cannon Stadium, Bachman Sports Complex, Bestgate Park, Randazzo Park, Generals Highway Park, Bell Branch Park, Sawmill Creek Park and at Annapolis HS, Arundel HS, Chesapeake HS, Glen Burnie HS, Meade HS, North County HS, Northeast HS, and Old Mill HS.
                p.clearfix All Star Games are played at Harry Grove Stadium, the home of the Baltimore Orioles Minor League Single A Affiliate, Frederick Keys, located in Frederick, Maryland.
                p.clearfix Regional Tournament Games are also played at the stated fields, including Harry Grove Stadium, and occassionally games are played in Howard County at Howard High School and Long Reach High School.
                p.clearfix Directions to these fields can be found by clicking on "Field Directions" in the Main Menu.
            div.toggle
              label 11. What benefits come with Chesapeake MSBL Membership?
              div.toggle-content
                p.clearfix
                  strong Insurance:
                  |  MSBL offers the best combined Medical/Liability policy anywhere. The Chesapeake MSBL obtains Liability policy only.
                p.clearfix
                  strong Baseballs:
                  |  The Chesapeake MSBL uses a customized Diamond D-1 LS baseball for league play. We are able to obtain high quality Major League specification baseballs at a discount through bulk order purchasing.
                p.clearfix
                  strong Scorebooks:
                  |  Each team receives a free personalized league logo scorebook.
                p.clearfix
                  strong Tournaments:
                  |  There are 35 Regional MSBL Tournaments throughout the country. The Chesapeake MSBL hosts two of these regional tournaments over Labor Day and Columbus Day Weekends. Many players from the Chesapeake MSBL participate in MSBL National Tournaments which include the World Series in Arizona - 330 Teams - 30 Separate divisions, and the Florida Fall Classic - 105 teams. Other National MSBL tournaments are hosted in Palm Springs, Las Vegas (March & May) & Orlando.
                p.clearfix
                  strong League All Star Team Eligibility:
                  |  Each age division selects players to represent the Chesapeake MSBL as an All Star to compete against other regional adult baseball leagues as part of charity fund-raising events. Each team has at least one player selected. Each player selected must agree and is required to make a contribution of $10 or purchase a t-shirt for $20 with proceeds donated to our National Charity, ALS Association. Players selected to represent the Chesapeake MSBL as an All-Star will be issued an All Star jersey after signing an agreement to return the jersey upon completion of the game and upon receipt of donation or t-shirt purchase.
                p.clearfix
                  strong Player Awards and Recognition:
                  |  Chesapeake MSBL members in each division are eligible to be recognized for Service, Sportsmanship, Pitcher of the Year, and Most Valuable Player. Special recognition is given to those members who have made significant and sustaining contributions to the mission, goals and objectives of the Chesapeake MSBL and who have demonstrated a commitment to service to the league with induction into the Chesapeake MSBL Hall of Fame. Awards are presented at our Annual Awards Bull Roast.
                p.clearfix
                  strong Sponsorship:
                  |  The Chesapeake MSBL has sponsorhips and partnerships with many community businesses which provide discounted products and services to our members and their families. Additionally, the Chesapeake MSBL is a 501(c)3 Non-Profit Corporation and can provide tax-deductible receipts to affiliated league and team sponsors if desired and can assist in providing marketing information to potential league and affiliated team sponsors.
                p.clearfix
                  strong Draft Pool Access:
                  |  MSBL affiliated teams are able to access the league draft pool to supplement their team roster or to replace players who are no longer available to play.
                p.clearfix
                  strong Website Message Board Access:
                  |  MSBL Team Managers and rostered players are provided access to log on to the Chesapeake MSBL website to utilize the message board for recruitment and advertising of team events. Advertising for personal interests or business is not permitted.
                p.clearfix
                  strong Online MSBL/MABL Sports Store:
                  |  Players/Teams can receive guaranteed lowest price offerings on catalog sporting goods. Weekly specials for MSBL members displayed on the National website home page, as well as numerous email specials, directly sent to each member.
                p.clearfix
                  strong Discounted Home and Auto Insurance Through Liberty Mutual:
                  |  Their prices, based on a group policy, are very competitive against what you may currently have and pay.
                p.clearfix: strong There is no other organization offering all of these benefits!