extends layout

block content
  section.page-header: div.container
    h1 LEAGUE RULES
    p.font-lato.size-18 2017 ADULT BASEBALL LEAGUE
  section: div.container
    h2: strong 2017 Rules and Regulations
    p Major League rules will be followed with the exceptions listed below. Anne Arundel County Department of Recreation & Parks Guidelines & Reference Manual and department policies governs this league in regular and post-season play only.
    p Safety of players, umpires, and spectators is a top priority and transcends all other rules. Any person can stop a game to voice concern over any safety issue. Everyone is obligated to address safety issues and mitigate any risk of personal injury or damage to property. A game may be stopped at any time due to any safety concern as a result of threatening weather, injury to a person, threat of or actual physical abuse, or violence. Field or facility safety concerns should be immediately reported to the Anne Arundel County Recreation & Parks Adult Baseball Supervisor and the Chesapeake MSBL President.
    p All Managers and Players are required to provide complete information and sign the Anne Arundel County Department of Recreation & Parks Roster Form and the Chesapeake MSBL Waiver and Release of Liability Forms prior to engaging in any team or league activity. Any player who refuses to sign these forms as they are written shall not be permitted nor be eligible to participate in the Anne Arundel County Department of Recreation and Parks Adult Baseball Program nor in any Chesapeake MSBL activity. Any person found to be participating without these documents on file is considered ineligible and participates at their own risk. Any Team Manager, player, or member of any team who permits someone to participate assumes personal risk for any claim made against the Anne Arundel County Department of Recreation and Parks and/or the Chesapeake MSBL. Furthermore, any team using an ineligible player who does not appear on the on-line team roster will result in a forfeit of ALL games played to date.

    h4 INDEX
    ol
      li Uniforms, Helmets, Baseballs, and Other Equipment
      li Game Length, Run Rule, and Rain-Outs
      li Player Eligibility and Rosters
      li Lineups
      li Player Behavior and Team Responsibility
      li Courtesy Runners
      li Umpire Payment and Grading
      li Fielders
      li Ejections
      li General League Rules

    hr

    h4 1. UNIFORMS, HELMETS, BASEBALLS, and OTHER EQUIPMENT
    p
      strong 1.a
      |  All teams must have full baseball uniforms consisting of caps, numbered jerseys, baseball pants, socks, and shoes. Each player’s uniform must be of similar design to his teammates’ uniforms.
    p
      strong 1.b
      |  All batters, on-deck batters, and runners must wear helmets. Full double-ear flap helmets are strongly encouraged. All base coaches must also wear helmets while on the field of play. Base coach helmets do not have to have ear flaps, but must provide protection similar to a catcher’s “skull” cap.
    p
      strong 1.c
      |  Rawlings Model R-OML or Diamond D-1 Pro LS (low seam) baseballs are the only acceptable baseball for use in the league. Each team must provide two new baseballs to the umpire at the plate conference or before the game begins. Starting pitcher may take one of the game baseballs to the mound from the bullpen but must allow umpire to verify model and condition of baseball when requested.
    p
      strong 1.d
      |  Only wood baseball bats are permitted for game use. Bats must be no more than minus 3 weight to-length ratio. Authorized wood bats are ash, maple, oak, birch, bamboo, or composite wood bats. No bat shall contain any metal or alloy in the handle or the barrel of the bat. Players using an illegal bat when stepping into the batters’ box will be declared an out. Second offense by the same player using an illegal bat within the same game shall result in the offending player being ejected from the game.
    p
      strong 1.e
      |  Metal cleats are permitted.

    h4 2. GAME LENGTH, RUN RULE AND RAIN-OUTS
    p
      strong 2.a
      |  It is the responsibility of the coaches to meet with the umpires to establish game start time.
    p
      strong 2.b
      |  Unless otherwise stated, all games will be 9 innings with no new inning starting after 2 hours and 45 minutes. All 7 inning games will have no new inning starting after 2 hours and 15minutes.
    p
      strong 2.c
      |  Five innings of a 7-inning or 9-inning game is considered a complete game when suspended due to weather or time limit. Any game that is stopped before it is considered a complete game will be considered a suspended game and will resume from the point that it was suspended.
    p
      strong 2.d
      |  If there is a 10-run discrepancy at the end of 5 innings of a 7-inning game or 12 runs after 7 innings of a 9-inning game, the game shall end under a slaughter rule.
    p
      strong 2.e
      |  All games will be played as scheduled. Games will only be rescheduled for weather-related cancellations or department rescheduling. Information on rain cancellations can be heard on the answering service after 4:00 p.m. on weekdays or two hours before game time on weekends. Game information numbers are provided on the home page of Chesapeake MSBL website. If no weather cancellation report is given, teams will report to the field and the umpires and team managers will determine whether game field conditions are safe for play. Makeup games will be rescheduled by Chesapeake MSBL President or his delegate and all attempts will be made to use the primary days for this age division. However, if the scheduler provides 7 days notice to the teams for a makeup game on ANY day of the week, teams will have to either play on the rescheduled day or take a forfeit.

    h4 3. PLAYER ELIGIBILITY and ROSTERS
    p
      strong 3.a
      |  All players must be at least 18, 25, 35 or 45 years of age by December 31, 2016 in order to be eligible for the 18+, 25+, 35+ and 45+ divisions respectively. Teams found to be using underage players will result in all games being forfeited and possible expulsion from the league. Underage player will be suspended for one year after becoming age eligible before being permitted to participate in league play. Team Managers discovered having underage players participating in league play will result in a two week suspension and possible expulsion from the league. Teams found to be using ineligible or underage players will result in ALL games played to date being forfeited.
    p
      strong 3.b
      |  Players may play for only one team per age division.
    p
      strong 3.c
      |  Professional athletes must sit out one full year from their sport following their date of release from professional teams before participating as a player in the Chesapeake MSBL.
    p
      strong 3.d
      |  A player must play in a minimum of 5 games in the regular season to be eligible for postseason playoff participation. A qualifying “game played” is defined as having a minimum of one at-bat or one inning played in the field for any scheduled game. Exceptions to this rule are made per paragraph 3.f below.
    p
      strong 3.e
      |  Team rosters are limited to a maximum of 25 players. The Chesapeake MSBL President must receive all completed rosters and forms by the deadline provided and not later than before the first game of the season or before an added player participates in a league activity. The Anne Arundel County Recreation & Parks Department “Adult Roster” Form, Chesapeake MSBL Roster Form, Chesapeake MSBL Waiver and Release of Liability Forms must be turned in with all information on forms populated in full with original signatures provided as applicable to be eligible for regular and post season play. The deadline to add players will be June 30, 2016. An Add/Drop form must be submitted to the Chesapeake MSBL President by e-mail, mail or drop-off before a player may play. Players must be on the team’s roster listed on the Team Page of Chesapeake MSBL website to be eligible for play. Teams failing to follow this rule will forfeit ALL games played to date upon discovery of ineligible player participation. All necessary forms can be found on Chesapeake MSBL website under League Info Link. Click on League Forms and select the appropriate form.
    p
      strong 3.f
      |  Players who serve in the Armed Forces or a Contractor supporting Department of Defense missions who are activated, deployed, or transferred during the season may participate in playoffs without having met the minimum 5 games played requirement. Teams who replace an activated or transferred member of the Armed Forces or a deployed Contractor supporting Department of Defense missions will not be required to drop a player from their roster should deployed or transferred member return to participate in league regular or post-season games which would result in the maximum Team roster size being exceeded..

    h4 4. LINEUPS
    p
      strong 4.a
      |  Team Managers must provide first and last name and the uniform number of the players in the lineup and as well as all substitute players attending the game.
    p
      strong 4.b
      |  A minimum of 8 players per team is required to begin an official game. The game will start at game scheduled start time if there are 8 players present.
    p
      strong 4.c
      |  A 15 minute grace period will be permitted for the 8th player to arrive; however, the game start clock begins at plate conference or at scheduled start time.
    p
      strong 4.d
      |  If a team begins a game with 8 players, an automatic out is recorded in the 9th spot in the batting order each time that spot comes up to bat unless a player arrives to fill the 9th spot..
    p
      strong 4.e
      |  A team manager may bat as many players as he desires, with a minimum of 9 (subject to the number of players available, if less than 9). If a team is reduced to 7 players for any reason, the game will be stopped with the win going to the opposing team.
    p
      strong 4.f
      |  A manager may add batters to the bottom of the lineup at any time but if a batter is pinch hit or run for (except under courtesy runners as outlined in Section 6), the player may not re-enter the game as a hitter but may remain in the game as a fielder or pitcher. Players added to the bottom of the lineup may be added as individual hitters or as A/B. Each team has a hitting and a defensive lineup that are independent of each other. Players may play in either lineup or both.
    p
      strong 4.g
      |  A team may declare at the time that lineups are exchanged prior to the start of play that any batting order position can be occupied by two (2) players in each such batting position. That is, 1A/B, . . . , 9A/B, 11A/11B, etc. The first time that position 9 gets an at bat, 9A would hit and the next time this slot hits, 9B would be up. Then 9A hits the third time this spot in the order comes up, and so on, alternating between these two players throughout the game. Once a team declares the use of this A/B system, it must continue using it for the remainder of the game. Failure to maintain the A/B rotation due to a player ejection, injury, or personal obligation without a substitute replacement that is not already in the hitting line up, will result in that at bat rotation recorded as an out
    p
      strong 4.h
      |  If a player leaves a game for any reason, a substitute not previously used as a hitter must bat in the player’s place. If no reserve is available, the team must take an automatic out the next time that spot comes up in the batting order. If the team is reduced to 7 players, the game is ended.
    p
      strong 4.i
      |  All players may be substituted for defensively, at any time, without affecting the players offensive status in the line-up. If the pitcher is removed, he may re-enter to pitch only one time during the course of the game, but not in the same inning. The exception is if the player is removed for hitting four batters in a game per rule 4.j. below. The removed pitcher may play any other defensive position after being removed.
    p
      strong 4.j
      |  If a pitcher hits 4 batters in any one game, the pitcher must be removed from the position and cannot reenter the game as a pitcher. The removed pitcher may play any other defensive position after being removed but may not under any circumstance reenter the game as a pitcher.

    h4 5. PLAYERS BEHAVIOR AND TEAM RESPONSIBILITY
    p
      strong 5.a
      |  The home team is responsible for bases and preparation of the field at all fields except Joe Cannon Stadium and Bachman Sports Complex. All teams are responsible for providing maintenance after the game including raking the batter’s box and pitcher’s mound and trash pickup and removal.
    p
      strong 5.b
      |  No alcoholic beverages are allowed on or near any playing field at any time. In addition, tobacco products are not allowed past the parking lots at Anne Arundel County Recreation & Parks facilities and not at all at school fields. Any team, or team followers, violating his rule will be subject to suspension from the league.
    p
      strong 5.c
      |  All players must have in possession a valid form of government issued Identification (driver’s license, passport, military ID) and will produce such identification when requested to provide proof of age. No retribution or retaliation toward team manager or player making the request for proof of age will be tolerated.
    p
      strong 5.d
      |  Hitting balls into any fence is strictly prohibited.
    p
      strong 5.e
      |  Vehicles are not allowed on any County or School playing fields.
    p
      strong 5.d
      |  AVOID COLLISION: Base runners shall make EVERY effort to avoid a collision with a defensive player by sliding or giving himself up as an out or going around a vulnerable defensive player making a play on a ball being received,  or avoid collision if the defender has possession of the baseball by sliding or conceding the out by stopping. The umpire, at his/her discretion, may award the base to the base runner if the defensive player obstructed the base runner from advancing and the defender was not in an imminent or actual position to make a play on the base runner. Malicious contact by a base runner with a defender having possession of the baseball will be called out, and, if in the opinion of the umpire, contact was made with the intent to be malicious, the base runner shall be ejected from the game.

    h4 6. COURTESY RUNNERS
    p
      strong 6.a
      |  Each team is allowed courtesy runners for two non-runners runners per game. The non-runners must be designated prior to the start of the game. If a batter fails to use their courtesy runner before another pitch is thrown, then the batter loses the courtesy runner privileges for the rest of the game.
    p
      strong 6.b
      |  Additional courtesy runners are allowed for the pitcher and catcher with two outs.
    p
      strong 6.c
      |  The last player to make a batted out shall be the courtesy runner. The exception to this rule is when there are two outs in which the pitcher or catcher is not required to be courtesy runner if they are the last batted out.
    p
      strong 6.d
      |  Once the game begins and the full complement of 2 courtesy runners has not been used, if a player sustains an injury, an additional courtesy runner may be used. If two courtesy runners have already been designated, an additional courtesy runner may be allowed, but the injured batter must be removed from the game and is no longer eligible to participate as a player for the remainder of the game.

    h4 7. UMPIRE PAYMENT AND GRADING
    p
      strong 7.a
      |  Each team is responsible for paying the umpires prior to the start of the game. For 7 inning games $80 per/team (travel fee: $40, and for 9 inning games, $95per/team (travel fee:RBD).
    p
      strong 7.b
      |  An umpire that officiates a game alone is entitled to one and one half (1-1/2) of the single (7 innings: $120, 9 innings: $142.50) game fee.
    p
      strong 7.c
      |  A team that forfeits a game is responsible for paying both umpire fees if a 90 minute advance notification is not made. This payment must be paid in cash. A team that forfeits and does not pay the umpires at the game must make the proper payment to the Adult Baseball Supervisor at Joe Cannon Stadium before their next scheduled game. If this is not done, all subsequent games will be forfeited until the payment is made.
    p
      strong 7.d
      |  Winning team managers are required to evaluate umpires prior to submitting scores. Only winning team manager is required to post the score. Visiting team managers may also evaluate the umpires once the final score is posted.

    h4 8. EJECTIONS
    p
      strong 8.a
      |  Any player ejected from the game will receive an automatic 2 week suspension from all scheduled games. If a player is ejected from a game in one age division, this player is also suspended from participating in other divisions for the duration of the suspension.
    p
      strong 8.b
      |  Team coach/manager is responsible for reporting the ejection to the Adult Baseball Supervisor at Joe Cannon Stadium within 24 hours of the completion of the game. Coach/manager must give the full name and uniform number.
    p
      strong 8.c
      |  Any player receiving 2 ejections during a season may be suspended for the remainder of the season with possible additional disciplinary sanctions.
    p
      strong 8.d
      |  Any manager who does not supply the ejected player’s full name within 24 hours is subject to suspension and possibly expulsion from the league.

    h4 9. GENERAL LEAGUE RULES
    p
      strong 9.a
      |  FORFEITS: A team that forfeits 4 games will be dropped from the league. No league fee will be refunded after the season is scheduled to begin. If this occurs prior to the halfway point in the schedule, all games will be dropped from the records; otherwise, any team yet to play will receive a win.
    p
      strong 9.b
      |  SCORES: The winning coach must report the results within 24 hours of game completion by entering the score on the Chesapeake MSBL website which will submit the final score to opposing team manager and the Anne Arundel County Recreation & Parks Adult Baseball Supervisor or manually report the score and submit umpire evaluations to the Adult Baseball supervisor.
    p
      strong 9.c
      |  STANDINGS: Winning percentage will be used as a tie-breaker followed by head-to-head Results, Runs Allowed, and Runs Differential.
    p
      strong 9.d
      |  INSURANCE: The department does not provide insurance for individuals/teams who participate in the league. Teams are strongly encouraged to carry insurance. The Anne Arundel County Department of Recreation and Parks and its staff is not responsible for injuries or damage to property that may be incurred as a result of participation in the Adult Baseball Program.